@import "tailwindcss";

/* 🔥 Сначала объявляем шрифт */

@font-face {
  font-family: "Asgard Trial";
  src: url("/fonts/AsgardTrial.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
} 
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-mont: var(--font-montserrat);
}

/* Переменные */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Tailwind theme */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Asgard Trial", Arial, Helvetica, sans-serif;
}

/* Глобальные стили */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Asgard Trial", Arial, Helvetica, sans-serif;
}